@page "/Login"

<div>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 1rem;">
        <span class="modal-close-icon" @onclick="CloseModalAsync" style="cursor: pointer;">✖</span>
    </div>
    <RadzenLogin AllowRememberMe="false" 
                 AllowResetPassword="true" 
                 Login="@LoginAsync"
                 ResetPassword="@RecoverPassword" 
                 ResetPasswordText="¿Olvidaste tu contraseña?" 
                 Register=@Register 
                 RegisterText="Registrate aquí" 
                 RegisterMessageText="¿No eres usuario aún?"
                 LoginText="Iniciar Sesión">
    </RadzenLogin>
    <div class="form-group">
        <RadzenLink Text="Reenviar correo de activación de cuenta" Path="/ResendToken"   />
    </div>
</div>

