@page "/HUPriorities"
<h3>Prioridades de Historias de Usuario</h3>

<div class="mb-3">
       <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nueva Prioridad</a>
</div>
<Filter PlaceHolder="Buscar..." Callback=@FilterCallBack />
<GenericList2 MyList="huPriorities">
    <Loading>
        <div class="d-flex justify-content-center align-itmes-center">
            <img src="https://i.gifer.com/ZKZg.gif" alt="Cargando..." />
        </div>
    </Loading>
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var priority in huPriorities!)
                {
                    <tr>

                        <td>@priority.Name</td>
                        <td>
                            <a @onclick=@(() => ShowModalAsync(@priority.PriorityId, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                            <button @onclick=@(() => DeleteAsync(priority)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList2>
