
        <span>Hola,</span>
        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
 
        <a href="register" class="nav-link btn btn-link">Registro</a>
        <a href="Login" class="nav-link btn btn-link">Iniciar Sesión</a>
