@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <RadzenComponents/>
    <main>
        <div style="height: 3.5rem;">
            <RadzenMenu Style="height: 3.5rem; flex-direction: row-reverse; background-color:#100f40">
                <AuthLinks />
                @* <RadzenMenuItem Text="Iniciar Sesión" Path="/Login" Icon="login"></RadzenMenuItem> *@
                @* <RadzenMenuItem Text="Registrarse" Path="/Register" Icon="person_add"></RadzenMenuItem> *@
            </RadzenMenu>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
