@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            
                    <RadzenMenu Style="height: 3.5rem;">
                        <AuthLinks />
                    </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <div>
                <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-12 rz-my-12">
                    <RadzenImage Path="SEGESLogoSmall.png" AlternateText="SEGES" Click="@(()=>GoTo("/"))" Style="cursor: pointer;" />
                </RadzenStack>
            </div>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <RadzenPanelMenuItem Text="Tablas Maestras" Icon="table_view">
                        <RadzenPanelMenuItem Text="Países/Municipios/Ciudades" Path="countries" Icon="public"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Tipos de Traza Documental" Path="DocTraceabilityType" Icon="snippet_folder"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Estado de Aprobación de HU" Path="HUApprovalStatus" Icon="attach_file"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Prioridades de HU" Path="HUPriorities" Icon="perm_media"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Estados Publicación de HU" Path="HUPublicationStatus" Icon="announcement"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Estados de Historias de Usuario" Path="HUStatus" Icon="announcement"></RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Estado de Proyectos" Path="ProjectStatuses" Icon="announcement"></RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="User">
                <Authorized>
                    <RadzenPanelMenuItem Text="Administrar Proyectos" Icon="bookmark_add">
                        <RadzenPanelMenuItem Text="Crear Nuevo Proyecto" Path="/projectsmanagment/projectCreate" Icon="add">
                            
                        </RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>

    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
    private void GoTo(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}


