@page "/projectsmanagment/projectCreate"
<div>
    <RadzenCard Class="rz-my-12 rz-mx-auto text-center" Style="max-width: 720px">
        <RadzenText TextStyle="TextStyle.H1" class="rz-color-secondary-darker"><strong>Página en Construcción</strong></RadzenText>
    </RadzenCard>

</div>
