@page "/projectDetail/{projectID:int}"
<h3 class="page-title">@project?.ProjectName</h3>

@if (project is null)
{
    <Loading />
}
else{

<RadzenButton Click=@(args => GoTo("/MyProjectsRE")) Icon="arrow_back" Text="Ir a Mis Proyectos" ButtonStyle="ButtonStyle.Primary" />


<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 100%">
    <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Detalles">
                
            </RadzenTabsItem>
            <RadzenTabsItem Text="Requerimientos">
                    <RadzenButton Click=@(args => GoTo($"/CreateRequirement/{projectID}")) Icon="add_circle" Text="Nuevo Requerimiento" ButtonStyle="ButtonStyle.Primary" />
                
                    @foreach (Requirement req in requirements)
                    {
                    <RadzenCard Class="rz-my-12 rz-mx-auto rz-shadow-2" Style="max-width: 100%">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="20px" Reverse="false" JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Start" Wrap="FlexWrap.NoWrap" Style="height: 400px">
                                <RadzenText TextStyle="TextStyle.DisplayH6" class="rz-display-flex rz-mt-2 rz-my-0">Requerimiento: @req.Name</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2" class="rz-display-flex rz-mt-2 rz-my-0">@req.RequirementDescription</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2" class="rz-display-flex rz-mt-2 rz-my-0">Fecha de Creación:  @req.CreationDate</RadzenText>
                            </RadzenStack>
                    </RadzenCard>
                    }
                    
                
            </RadzenTabsItem>
            <RadzenTabsItem Text="Traza Documental">

            </RadzenTabsItem>
           
        </Tabs>
    </RadzenTabs>
</RadzenCard>
}