@page "/hustatus"
<h3>Estados de Historias de Usuario</h3>

<div class="mb-3">
    <a class="btn btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"/> Nuevo Estado</a>
</div>
<Filter PlaceHolder="Buscar..." Callback=@FilterCallBack />
<GenericList2 MyList="HUStatuses">
    <Loading>
        <div class="d-flex justify-content-center align-itmes-center">
            <img src="https://i.gifer.com/ZKZg.gif" alt="Cargando..." />
        </div>
    </Loading>
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var status in HUStatuses!)
                {
                    <tr>

                        <td>@status.Name</td>
                        <td>
                            <a class="btn btn-sm btn-warning"><i class="bi bi-pencil"/>Editar</a>
                            <button @onclick=@( () => DeleteAsync(status) ) class="btn btn-sm btn-danger"><i class="bi bi-trash" />Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList2>


