@page "/"
@using SEGES.FrontEnd.Helpers

@inject AnonymousSessionService SessionService
@inject DialogService DialogService

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p> @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        @* <p>No estas autorizado</p>*@
    </NotAuthorized>
</AuthorizeView>


<h1 class="display-4">Bienvenido a nuestro Software de Gestión de Proyectos </h1>
<h1 class="display-3" style="accent-color">SEGES</h1>


<div>
    <p>Nuestro software está diseñado para mejorar la comunicación entre los stakeholders y los ingenieros de requisitos en tus proyectos. Con herramientas avanzadas de seguimiento y colaboración, te ayudamos a gestionar proyectos de manera eficiente y efectiva.</p>
    <p>¡Comienza a optimizar tus proyectos ahora mismo!</p>
</div>

<div>
    <RadzenButton Click=@(() => GoTo($"/learnMore/{sessionId}")) Text="Aprender mas" ButtonStyle="ButtonStyle.Primary" />
</div>

<div style="overflow-y:hidden">

    <RadzenRow class="rz-text-align-center" Gap="0" RowGap="0" Style="height: 100%;">
        
        <RadzenColumn Size="4" class="rz-p-2" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto material-symbols" Style="max-width: 420px; background: linear-gradient(180deg, #F8B976 0%, #000000 180%); flex: 1; flex-grow:1;min-height: 100%;">
                
                    <RadzenIcon Icon="interpreter_mode" IconColor="#FFFFFF" style="font-size: 80px;" />

                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="0" AlignItems="AlignItems.Center" Class="rz-p-2">
                        <RadzenStack Gap="0">

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-mt-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100;" TextAlign="TextAlign.Center">Mejora la Comunicación</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center">Facilita la colaboración entre ingenieros de requisitos e interesados.</RadzenText>

                        </RadzenStack>
                    </RadzenStack>

            </RadzenCard>
             
        </RadzenColumn>
        
        <RadzenColumn Size="4" class="rz-p-1" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto" Style="max-width: 420px; background: linear-gradient(180deg, #207877 0%, #000000 180%); height: 100%;  flex: 1; flex-grow:1;min-height: 100%;">
                <RadzenIcon Icon="account_tree" IconColor="#FFFFFF" style="font-size: 80px;" />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem"  Class="rz-p-4">
                    <RadzenStack Gap="0">
                        <RadzenText class=" rz-mt-4 rz-mb-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100; text-align:center">Seguimiento Eficiente</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center">Supervisa el progreso de tus proyectos de manera efectiva.</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
        
        <RadzenColumn Size="4" class="rz-p-1" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto" Style="max-width: 420px; background: linear-gradient(180deg, #5D488A 0%, #000000 180%); flex: 1; flex-grow:1;min-height: 100%;">
                <RadzenIcon Icon="ads_click" IconColor="#FFFFFF" style="font-size: 80px;" />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <RadzenStack Gap="0">
                        <RadzenText class=" rz-mt-4 rz-mb-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100; text-align:center">Objetivos Claros</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center">Define y comunica los objetivos de manera concisa.</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="4" class="rz-p-1" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto" Style="max-width: 420px; background: linear-gradient(180deg, #153B66 0%, #000000 180%);flex: 1; flex-grow:1;min-height: 100%;">
                <RadzenIcon Icon="query_stats" IconColor="#FFFFFF" style="font-size: 80px;" />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    
                    <RadzenStack Gap="0">
                        <RadzenText class="  rz-mb-0 rz-mt-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100; text-align:center">KPIs Medibles</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center">Mide el rendimiento con indicadores clave.</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="4" class="rz-p-1" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto" Style="max-width: 420px; background: linear-gradient(180deg, #494582 0%, #000000 180%);flex: 1; flex-grow:1;min-height: 100%;">
                <RadzenIcon Icon="interpreter_mode" IconColor="#FFFFFF" style="font-size: 80px;" />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <RadzenStack Gap="0">
                        <RadzenText class=" rz-mt-4 rz-mb-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100; text-align:center">Entrevistas Estructuradas</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center"> Organiza y registra las entrevistas de manera ordenada.</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="4" class="rz-p-1" Style="min-height: 100%;">
            <RadzenCard Class="rz-my-5 rz-mx-auto" Style="max-width: 420px; background: linear-gradient(180deg, #632F31 0%, #000000 180%);flex: 1; flex-grow:1;min-height: 100%;">
                <RadzenIcon Icon="history_edu" IconColor="#FFFFFF" style="font-size: 80px;"  />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <RadzenStack Gap="0">
                        <RadzenText class=" rz-mt-4 rz-mb-0" Style="font-family:gotham; font-size: 26px; color:white; font-weight:100; text-align:center">Requisitos Documentados</RadzenText>

                        <RadzenText class=" rz-mt-4 rz-mb-0 rz-color-white" Style="font-family: Gotham; font-size: 16px; color:white;" TextAlign="TextAlign.Center">Captura y comparte los requisitos de manera clara.</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</div>