@page "/DocTraceabilityType"

<h3>Tipo de Trazabilidad Documental</h3>

<div class="mb-3">
  
    <a class="btn btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nuevo Tipo</a>
</div>
<Filter PlaceHolder="Buscar..." Callback=@FilterCallBack />
<GenericList2 MyList="DocTraceabilityTypes">
    <Loading>
        <div class="d-flex justify-content-center align-itmes-center">
            <img src="https://i.gifer.com/ZKZg.gif" alt="Cargando..." />
        </div>
    </Loading>
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    RecordsNumber="SelectedRecordsNumberAsync" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in DocTraceabilityTypes!)
                {
                    <tr>

                        <td>@type.Name</td>
                       
                        <td>
                            <a @onclick=@(() => ShowModalAsync(type.DocTraceabilityTypeId, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                            <button @onclick=@(() => DeleteAsync(type)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList2>
